<li>
  {% if include.proj.img %}
  <a href="{{ include.proj.page }}">
    <img src="/assets/{{ include.proj.img }}" alt="project image" width="64" height="64">
  </a>
  {% endif %}
  <div class="project-item">
    <a class="project-link" href="{{ include.proj.page }}"><h2>{{ include.proj.name }}</h2></a>
    <span class="project-links">
      <ul class="link-list">
        {% if include.proj.src %}
        <li class="first">
          <a href="{{ include.proj.src }}">source</a>
        </li>
        {% endif %}
        {% if include.proj.play %}
        <li>
          <a href="{{ include.proj.play }}">play</a>
        </li>
        {% endif %}
        <li>
          <a href="{{ include.proj.page }}">info</a>
        </li>
      </ul>
    </span>
  </div>
  <div class="clear"></div>
</li>
