
<div class="project-links">
  <ul class="link-list">{% if include.proj.dwnld%}
    <li>
      <a class="insite-link" href="/downloads/{{ include.proj.dwnld }}">download</a>
    </li>{% endif %}{% if include.proj.play %}
    <li>
      <a class="insite-link" href="{{ include.proj.play }}">play</a>
    </li>{% endif %}{% if include.proj.vid %}
    <li>
      <a class="insite-link" href="{{ include.proj.vid }}">vlog</a>
    </li>{% endif %}{% if include.proj.src %}
    <li>
      <a class="insite-link" href="{{ include.proj.src }}">source</a>
    </li>{% endif %}
  </ul>
</div>
